# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
/.idea/
/src/main/resources/application.properties


/src/main/resources/application-oauth.properties
/src/main/resources/application-dev.properties
~/app/step1/loglog.log
/hi.uml
/out/production/resources/application.properties
/out/production/resources/application-oauth.properties
/out/production/resources/application-dev.properties
/out
./FullText_Post_idx
/FullText_Post_idx