# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
/.idea/
/src/main/resources/application.properties
/src/main/resources/application-oauth.properties
src/main/resources/logback-spring.xml
~/app/step1/loglog.log
